body{
     background-color:black;
}
h1{
    text-align: center;
    color: white;
    font-family: Georgia, serif;
    font-size: 40px;
}
.container{
    background-color: rgb(143, 224, 233);
    width: 700px;
    /* border: 3px solid white; */
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}
